@font-face {
    font-family: ClanOT;
    src: url("../fonts/ClanOT-Book.woff");
}

@font-face {
    font-family: ClanOT;
    src: url("../fonts/ClanOT-Bold.woff");
    font-weight: bold;
}


* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

p {
    display: inline-block;
}


#ad {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #56c4e8;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.headline1_container {
    position: absolute;
    text-align: center;
    width: 280px;
    height: 150px;
    left: 50%;
    margin-left: -140px;
    top: 51px;
    display: table;
}

.headline1 {
    position: relative;
    width: 100%;
    font-size: 19.5px;
    line-height: 1.38em;
    font-family: "ClanOT", serif;
    font-weight: bold;
    color: white;
    display: table-cell;
    vertical-align: middle;
    outline: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headline2_container {
    position: absolute;
    width: 250px;
    height: 97px;
    left: 28px;
    top: 17px;
    display: table;
}

#headline2 {
    position: relative;
    width: 100%;
    font-size: 15px;
    line-height: 1.54em;
    font-family: "ClanOT", serif;
    font-weight: bold;
    color: white;
    letter-spacing: 0.017em;
    outline: none;
    text-shadow: none;
    display: table-cell;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#headline2 p {
    display: block;
}

#hidden_text_container {
    position: absolute;
    font-size: 19.5px;
    line-height: 1.38em;
    font-family: "ClanOT", serif;
    font-weight: bold;
    color: white;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    outline: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headline1_span {
    position: relative;
    opacity: 0;
    top: 50px;
}

.headline1_span_clone {
    position: relative;
    opacity: 0;
    top: 30px;
}

.headline2_span {
    position: relative;
    opacity: 0;
    top: 25px;
}

.headline1 > div {
    display: inline-block;
}

.headline1_container > div {
    display: inline-block;
}

.headline1 {
    top: 43px;
}

#extra_text {
    position: relative;
    opacity: 0;
    top: 30px;
}

#phoneImage {
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 250px;
    /* background:url("../images/phone.png"); */
    transform: translate3d(1320px, -1230px, 0px) scale(20);
    /* transform: translate(-480px, -213px) scale(2.4); */
}

#logo {
    position: absolute;
    width: 300px;
    height: 250px;
    top: -1px;
    left: -1px;
    opacity: 0;
    transform-origin: 218px 240px;
    transform: rotateX(90deg);

    background: url("../images/logo_300x250.png");
    background-size: 300px 250px;
}

#borderDiv {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 250px;
    border: 0px solid white;
    box-sizing: border-box;
}

#cta {
    position: absolute;
    top: 139px;
    left: 178px;
    font-size: 11px;
    text-align: center;
    color: white;
    padding: 4px 11px;
    border-radius: 6px;
    font-family: ClanOT;
    overflow: hidden;
    opacity: 0;
    z-index: 3;
    transform: translateY(30px);
}

#cta_text {
    position: relative;
    display: block;
    transform: translateZ(0);
}

#cta_background,
#cta_background_glow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    background-color: #005cb9;
    transform: translateZ(0);
}

#cta_background_glow {
    opacity: 0;
    background-color: #0a7bb1;
    transform: translateZ(0);
}

#cta_sheen {
    position: absolute;
    top: -28px;
    left: -68px;
    width: 68px;
    height: 85px;
    background: url("../images/sheen_300x250.png") no-repeat;
    background-size: 68px 85px;
    transform: translateZ(0);
}

#clicktagHotspot {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    z-index: 2;
}
